*{
    text-decoration: none;
    padding: 0px;
    margin: 0;
}
body{
    background-color: #f5deb3;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  position: fixed !important;
    top:0%;
    height:150px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.233);
    
    
}
.navbar a{
    margin:40px;
    color: white;
}
.container1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140vh;
    background: url("photo-1606625736768-f521ab7e23fb.bin.jpg");
    background-size: cover;
}
#logo{
    border:5px solid white;
    height: 200px;
    width: 200px;
    margin-bottom: 150px;
}
.container1 h1{
    margin-bottom: 40px;
    color:white;
    font-size: 3em;
}
.container1 h3,p{
    color: white;
    
}
.container1 p{
    font-size: 2rem;
    margin-top: 20px;
}
.cardcontainer{
    display: flex;
    justify-content: space-around;
    margin:10% 70px;
    padding: 20px;
    background-color: rgb(208,190,158);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   

}
.imgcards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img1{
    height: calc(2*290px);
    aspect-ratio: 1;
    border-radius: 10%;
    margin: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.img2{
    height: calc(2*190px);
    width:calc(2*300px);
    
    border-radius: 10%;
    margin: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.menucard{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
}
.content{
    background-color: white;
    width: 40vw;
    text-wrap: nowrap;
    padding: 30px;
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.7rem;
    color: rgb(117, 113, 113);
}
.choices{
    text-align: start;
    padding: 30px;
}
.choices p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: gray;
    font-style: oblique;
    text-indent: 60px;
    font-size: 0.9rem;
}
.choices hr{
    width: 50%;
}